#conatainer-place{
    top:20%;
    left:35%;
    position: fixed;
    width:30%;
    background-color: rgb(230, 230, 230);
    padding:2%;
}
#conatainer-place .example-button-row{
  text-align:center;
  padding-top:2%;
}
.example-button-row ~ a{
  text-align:center;
  color:blue;
  padding-top:2% !important;
  font-weight: bold;
  cursor:pointer;
  padding-left:30%;
}
/* css from materila  */
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .footer{
    background-color:#3f51b5;
    color: #ffffff;
    text-align: left;
    height:8%;
    bottom:0px; 
    left:0px;
    position: fixed;
    width:100%;
    border-color:#bbbbbb;
}
.bgimage
{
    padding:20%;
    background-image: url('../../../assets/images/hotel.jpg');
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%; 
}

  
