<div fxLayout="row" fxLayoutGap="100px">
 <table class="example-full-width" cellspacing="1"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Location">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="No of Rooms">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="No of Guests">
    </mat-form-field></td>
   <td> <button mat-raised-button color="primary" >Search</button></td>
  </tr></table>
</div>
 



