  <div fxLayout="row" >
      <img class="image-size" src="../../../assets/images/hotel.jpg">
      <div>
        <h3>{{InputData.name}}</h3>
        <p>{{InputData.location +' ' +InputData.city}}</p>
        <small>{{InputData.amenities[0] }} | {{InputData.amenities[1]}} | {{InputData.amenities[2]}} </small>
        <p><i class="material-icons"> star</i>
          {{InputData.averagerating}}<span style="float:right;font-weight:bold">{{'  '+ '  '+InputData.price | currency:'&#8377;'}}</span> 
        </p>
        <button mat-raised-button color="accent" [routerLink]="['/booknow/',InputData.id]">View Details</button>
        <button mat-raised-button color="primary">Book Now</button> 
    </div>
  </div>