#custom-res{
 margin:auto;  
}
.sort-buttons{
  float:right;
  overflow: hidden;
  margin-top: -1%;
}
.mat-icon{
    padding:2px;
    cursor:pointer;
}
.mat-raised-button{
    float:right;
  
}
.mat-icon{
  vertical-align: middle; 
}
