<div fxLayout="row">
<app-filterhotel fxFlex="20%"></app-filterhotel>
<div fxFlex="80%">
    <app-searchhotel></app-searchhotel> 
    <p id="custom-res">{{HotelData.length}} Results
    <span class="sort-buttons">Sort By    [Rating Only <mat-icon (click)="Sort('averagerating')">swap_vertical</mat-icon>]  [Price Only<mat-icon (click)="Sort('price')">swap_vertical</mat-icon>]</span> </p>
<hr>
<div class="show-hotels" fxLayout="row wrap">
    <div *ngFor="let hoteldata of HotelData" fxFlex>
        <app-booking-item [InputData] = "hoteldata"  ></app-booking-item>
    </div>
</div>
</div>
</div>